Source: zeal
Section: x11
Priority: optional
Maintainer: ChangZhuo Chen (陳昌倬) <czchen@gmail.com>
Build-Depends: debhelper (>= 9),
               bsdtar,
               libappindicator-dev,
               libqt5webkit5-dev,
               libquazip-qt5-dev,
               libxcb-keysyms1-dev,
               qt5-qmake,
               qtbase5-dev,
               qtbase5-private-dev,
Standards-Version: 3.9.6
Homepage: http://zealdocs.org/
#Vcs-Git: git://anonscm.debian.org/collab-maint/zeal.git
#Vcs-Browser: http://anonscm.debian.org/?p=collab-maint/zeal.git;a=summary

Package: zeal
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Simple offline API documentation browser
 Zeal is a simple offline API documentation browser inspired by Dash (OS X
 app), available for Linux and Windows.
 .
  * Quickly search documentation using Alt+Space (or customised) hotkey to
    display Zeal from any place in your workspace.
  * Search in multiple sets of documentation at once.
  * Don't be dependent on your internet connection.
  * Integrate Zeal with Emacs, Sublime Text, or Vim.

Package: zeal-dbg
Section: debug
Priority: extra
Architecture: any
Depends: ${misc:Depends},
         zeal (= ${binary:Version}),
Description: Debug symbols for zeal
 Zeal is a simple offline API documentation browser inspired by Dash (OS X
 app), available for Linux and Windows.
 .
  * Quickly search documentation using Alt+Space (or customised) hotkey to
    display Zeal from any place in your workspace.
  * Search in multiple sets of documentation at once.
  * Don't be dependent on your internet connection.
  * Integrate Zeal with Emacs, Sublime Text, or Vim.
 .
 This package contains debug symbols for zeal.
