#!/usr/bin/make -f
#DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@

override_dh_auto_configure:
	qmake DESTDIR=$(CURDIR)/build $(CURDIR)/zeal/zeal.pro

override_dh_auto_install:
	dh_auto_install -- INSTALL_ROOT=$(CURDIR)/debian/tmp
	find $(CURDIR)/debian/tmp -name '*.png' -type f -exec chmod -x {} \;

override_dh_strip:
	dh_strip --dbg-package=zeal-dbg
