#!/usr/bin/make -f
#DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

export QT_SELECT=qt5

%:
	dh $@ --buildsystem=qmake

override_dh_auto_configure:
	dh_auto_configure -- DESTDIR=$(CURDIR)/build $(CURDIR)/zeal/zeal.pro

override_dh_auto_install:
	dh_auto_install
	find $(CURDIR)/debian/tmp -name '*.png' -type f -exec chmod -x {} \;

override_dh_strip:
	dh_strip --dbg-package=zeal-dbg

override_dh_install:
	dh_install --fail-missing \
		$(NULL)
